#drop-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 11104;
    display: none;
}
#drop-loading div{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url(drop.png);
}
.drop{
    display: none;
}
.drop-for-center{
    display:none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.drop-overlay{
    display:none;
    position:absolute;
    width:100%;
    left:0;
    top:0;
}